body {
  background: #181312;
  color: #333333;
  margin-top: 5rem;
}

a, h2, h3, h4, h5, h6 {
  color: #06070D;
}

h1 {
  color: #aa7b48
}

.article-content {
  white-space: pre-line;
  color: #06070D
}

a:hover, .site-header .navbar-nav .nav-link:hover, .article-metadata a:hover {
  color: #3a8799;
}

.bg-steel {
  background-color: #194561;
}

.article-title, .subtitle {
  color: #194561;
}

.article-title:hover, .subtitle:hover {
  color: #3a8799;
}

.site-header .navbar-nav .nav-link{
  color: #f9fbfd;
}

.content-section {
  background: #f9fbfd;
  padding: 10px 20px;
  border: 1px solid #f9fbfd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.error-img {
  height:auto;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.site-header .navbar-nav .nav-link:hover {
  text-decoration: none;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.article-title:hover {
  text-decoration: none;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 3px solid #aa7b48
}

.article-metadata a:hover {
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
