body {
  background: #120E0F;
  color: #333333;
  margin-top: 5rem;
}

a, h2, h3, h4, h5, h6 {
  color: #1f1f1f;
}

h1 {
  color: rgba(170,36,36,1)
}

.outside-block-link {
  rgba(255,76,76,1)
}

.outside-block-link:hover {
  color: #f9fbfd
}

.outside-block {
  color: #f9fbfd
}

.article-content {
  white-space: pre-line;
  color: #1f1f1f
}

a:hover, .article-metadata a:hover {
  color: rgba(255,76,76,1);
}

.site-header .navbar-nav .nav-link:hover {
  color: #1f1f1f;
}

.bg-steel {
  background: linear-gradient(15deg, rgba(170,36,36,1) 0%, rgba(255,76,76,1) 100%);
}

.article-title, .subtitle {
  color: #1f1f1f
}

.site-header .navbar-nav .nav-link{
  color: #f9fbfd;
}

.content-section {
  background: linear-gradient(to right, #ece9e6, #ffffff);
  padding: 10px 20px;
  border: 1px solid #f9fbfd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.error-img {
  height:auto;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.site-header .navbar-nav .nav-link:hover {
  text-decoration: none;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.article-title:hover {
  text-decoration: none;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 3px solid rgba(255,76,76,1)
}

.article-metadata a:hover {
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.nav-brand {
  color: #1f1f1f;
}

.nav-brand:hover {
  color: #f9fbfd;
}
